* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.ogranichiteli {
    width: 1280px;
    margin: 0 auto;
}

.head {
    background-image: url("img/header.png");
    height: 525px;
    width: 1280px;
}

.head1 {
    display: flex;
}

.head1 img {}

.nav {
    display: flex;
    margin-left: 125px;
    margin-top: 55px;
    color: white;
    font-size: 18px;
}

.menu2 {
    margin-left: 55px;
}

.logo {
    margin-left: 130px;
    margin-top: 32px;
    width: 200px;
    height: auto;
}

.nava {
    text-decoration: none;
    color: white;
}

.nava:hover {
    border-bottom: 2px solid white;
    color: white;
}

.btnheader {
    height: 50px;
    width: 170px;
    border: 2px white solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    margin-left: 170px;
    margin-top: 40px;
}

.btnheader:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 45px;
    font-weight: 45px;
    text-align: center;
    margin-top: 100px;
    line-height: 55px;
}

.block1 {
    display: flex;
    padding-top: 50px;
    padding-left: 130px;
    align-items: center;
}

.block1-1 {
    text-align: center;
    width: 340px;
}

.icon1 {
    width: 60px;
}

.icon2 {
    width: 65px;
}

.icon3 {
    width: 55px;
}

.block1 hr {
    border: 1px solid rgb(229, 229, 229);
    height: 190px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a38b70;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.block1-1 p {
    color: #404040;
    font-size: 16px;
    margin-top: 22px;
    line-height: 22px;
}

.block2 {
    background-color: #f2f2f2;
    height: 620px;
    margin-top: 50px;
}

.headblock2 {
    display: flex;
}

.block2-zag {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a38b70;
    font-size: 45px;
    font-weight: bold;
    margin-top: 75px;
    margin-left: 130px;
}

.btnblock2 {
    height: 50px;
    width: 170px;
    border: 2px #a38b70 solid;
    border-radius: 3px;
    color: #a38b70;
    font-size: 18px;
    margin-top: 75px;
    margin-left: 450px;

}

.btnblock2:hover {
    color: #8d755b;
    border: 2px #8d755b solid;
}

.block2-1 {
    margin-left: 130px;
}

.block2-2 {
    margin-top: 60px;
}

.block2-2-1,
.block2-2-wiki {
    display: flex;
}

.block2-2-zag {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.wiki {
    margin-top: 5px;
    margin-left: 5px;
    color: #666666;
    font-size: 16px;
}

.wiki a {
    margin-top: 5px;
    color: #a38b70;
    font-size: 16px;
}

.wiki a:hover {
    color: #8d755b;
}

.block2-2-1 img {
    width: 100px;
}

.block2-2-1 p {
    color: #404040;
    font-size: 16px;
    margin-left: 30px;
    line-height: 24px;
}

.block2-2-1 {
    padding-top: 10px;
}

.headblock3 {
    display: flex;

}

.headblock3 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a38b70;
    font-size: 45px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 130px;
}

.headblock3 button {
    height: 50px;
    width: 170px;
    border: 2px #a38b70 solid;
    border-radius: 3px;
    color: #a38b70;
    font-size: 18px;
    background-color: transparent;
    margin-top: 70px;
    margin-left: 450px;
}

.headblock3 button:hover {
    color: #8d755b;
    background-color: transparent;
    border: 2px #8d755b solid;
}

.block3 hr {
    border: 2px solid #8d755b;
    ;
    height: 110px;
}

.block3-1-txt {
    color: #000000;
    font-size: 16px;
    margin-left: 50px;
    line-height: 25px;
}

.txt {
    width: 500px;
}

.block3-1 {
    display: flex;
    margin-left: 130px;
    margin-top: 65px;
}

.block3-1-1 {
    display: flex;
    width: 500px;
}

.author {
    margin-top: 10px;
}

.block4 {
    background-color: #f2f2f2;
    height: 1025px;
    margin-top: 90px;
}

.headblock4 {
    display: flex;
}

.headblock4 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a38b70;
    font-size: 45px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 130px;
}

.headblock4 button {
    height: 50px;
    width: 170px;
    border: 2px #a38b70 solid;
    border-radius: 3px;
    color: #a38b70;
    font-size: 18px;
    background-color: transparent;
    margin-top: 70px;
    margin-left: 350px;
}

.headblock4 button:hover {
    color: #8d755b;
    background-color: transparent;
    border: 2px #8d755b solid;
}

.katalog {
    display: flex;
    gap: 45px;
    margin-top: 65px;
    margin-left: 130px;
}

.elements {
    border: 2px solid #d8d8d8;
    height: 330px;
}

.elements img {
    width: 300px;
}

.tovar {
    display: flex;
}

.naz {
    color: #000000;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    width: 190px;
}

.price {
    color: #404040;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
    margin-right: 20px;
    width: 70px;
}

.knop {
    display: flex;
}

.knop button {
    height: 50px;
    width: 125px;
    border: 2px #a38b70 solid;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    background-color: #a38b70;
    margin-top: 25px;

}

.btn1 {
    margin-left: 20px;
}

.btn2 {
    margin-left: 12px;
}

.btn1:hover {
    color: #ffffff;
    background-color: #8d755b;
    border: 2px #8d755b solid;
}

.btn2:hover {
    color: #ffffff;
    background-color: #8d755b;
    border: 2px #8d755b solid;
}

.zagtabl {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a38b70;
    font-size: 45px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 130px;
}

tr {
    color: #404040;
    font-size: 18px;
}

.headtable td {
    color: #404040;
    font-size: 14px;
    border: none;
}

table td {
    color: #404040;
    font-size: 18px;
    border: none;
    text-align: left;
    border: 1px solid #d9d9d9;

}

.td {
    padding-left: 20px;
}

.center {
    text-align: center;
}

table {
    border-spacing: 0px;
    margin-left: 130px;
    margin-top: 70px;
    width: 1020px;
    height: 240px;
}

.headblock5 {
    display: flex;
}

.headblock5zag {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a38b70;
    font-size: 45px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 130px;

}

.headblock5txt {
    color: #404040;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 85px;
}

.telandem {
    display: flex;
}

.pochta,
.tel {
    display: inline;
}

.pred {
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    font-size: 12px;
}

.qwest {
    margin-left: 130px;
    margin-top: 70px;
    display: flex;
}

.im {
    width: 610px;
    height: 50px;
    margin-top: 15px;
    border: 2px solid #d9d9d9;

    padding-left: 15px;
}

.im::placeholder {
    color: #404040;
    font-size: 18px;

}

.pred {
    margin-left: 15px;
}

.telandem {
    margin-top: 20px;
}

.telefon2,
.telefon {
    width: 270px;
    height: 50px;
    margin-top: 10px;
    border: 2px solid #d9d9d9;

    padding-left: 15px;
}

.telefon::placeholder {
    color: #404040;
    font-size: 18px;

}

.telefon2::placeholder {
    color: #404040;
    font-size: 18px;

}

.pochta {
    margin-left: 55px;
}

.chek {
    color: #404040;
    font-size: 18px;

}

.chek1 {
    width: 30px;
    height: 30px;
    border: 2px solid #d9d9d9;
    margin-top: 30px;
    margin-left: 20px;

}

.chek {
    display: inline;
}

.line51 {
    position: absolute;
    margin-top: -283px;
    margin-left: -145px;
}

.pred2 {
    color: #404040;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 20px;
}

.var1 {
    margin-top: 10px;
    width: 630px;
    height: 50px;
    background-color: transparent;
    color: #404040;
    font-size: 18px;
    padding-left: 10px;
    border: 2px solid #d9d9d9;
}

.pred3 {
    color: #404040;
    font-size: 12px;
    margin-top: 28px;
    margin-left: 19px;
}

.txt4 {
    width: 610px;
    height: 115px;
    margin-top: 10px;
    border: 2px solid #d9d9d9;

    padding-left: 15px;
}


.txt4::placeholder {
    color: #404040;
    font-size: 18px;
}

.chek hr {
    margin-top: 30px;
}

.qwest hr {
    border: 1px solid rgb(229, 229, 229);
}

input:hover {
    border: 2px solid #bebebe;

}

input:active {
    border: 2px solid #8d745a;
}

.qwest img {
    margin-top: 30px;
    margin-left: 45px;
    height: 540px;
}

.zakazat button {
    height: 50px;
    width: 145px;
    border: 2px #a38b70 solid;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    background-color: #a38b70;
    margin-top: 40px;
    margin-left: 135px;
}

.zakazat button:hover {
    color: #ffffff;
    background-color: #8d755b;
    border: 2px #8d755b solid;
}

.foot {
    background-color: #363636;
    height: 700px;
    margin-top: 68px;
}

.head1 {
    display: flex;
}

.head1 img {
    margin-left: 120px;
    margin-top: 35px;
    width: 220px;
}

footer hr {
    border: 1px #7b7b7b solid;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;
}

.btnfooter {
    height: 50px;
    width: 170px;
    border: 2px white solid;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    margin-left: 645px;
    margin-top: 50px;
}

.btnfooter:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.line6 {
    margin-left: 130px;
    margin-top: 45px;
}

.menuf {
    display: flex;
    margin-left: 130px;
    margin-top: 45px;
    padding-bottom: 45px;

}

.mag {
    display: inline;
}

.osnf {
    margin-top: 22px;
}

.zagf {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a38b70;
    font-size: 24px;
    font-weight: bold;
}

.otz {
    margin-left: 60px;
}

.prl {
    margin-left: 65px;
}

.line61 {
    margin-left: 130px;
    margin-top: 68px;
}

.end {
    display: flex;
    margin-top: 55px;
    margin-left: 130px;
}

.soc {
    margin-left: 40px;
    margin-top: -10px;
}

.footerht {
    margin-left: 290px;
    margin-top: 10px;
    height: 30px;
    width: 240px;
}

.www:hover {
    opacity: 50%;
}

.www:hover {
    opacity: 50%;
}

.www:hover {
    opacity: 50%;
}

.footerht:hover {
    opacity: 50%;
    border-bottom: 2px solid #a38b70;
}

.osnf:hover {
    opacity: 50%;
}

.fa {
    color: #c3c3c3;
    font-size: 16px;
    margin-top: 22px;
    text-decoration: none;
}

.www {
    height: 60px;
    padding-right: 10px;
}